$main-color: #A67E5B;
$image: url("../images/chairlift.jpg");
$fonts: "Helvetica", "Arial", sans-serif;

*{
  margin: 0;
  padding: 0;
}

body{
  display:flex;
  background-color:  rgb(240 245 250);
  
  
  
}
.sidebar{
  display:flex;
  height:100vh;
  
  background-image: $image;
  background: $image no-repeat center center fixed;
  --webkit-background-size: cover;
  -o-background-size:cover;
  background-size:cover;
  min-width:500px;
 
  
}



.main{
  display:flex;
  flex-wrap:wrap;
  height:100vh;
  flex-direction: column;
  justify-content: space-around;
  width:80vw;
  
  .header{
    background-color: red;
    font-style:$fonts;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height:20%;
    padding:20px;
    margin-right:150px;
    
    .bottom-header{
      margin-top: 25px;    }
    
    
  }
  .footer{
    margin:30px;
    font-style:$fonts;
    }
  
}
.form{
  display:flex;
  flex-wrap:wrap;
  max-width:600px;
}
.info-form{
  display:flex;
  
  color:red;
  box-sizing:border-box;
  margin-left:10px;
  align-items: center;
  font-style:$fonts;
  

  
  
  
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
  
  background-color: #fff;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width:275px;
  padding: 7px;
  font-size: 14px;
  margin:14px;

  &:hover{
    border: 1px solid $main-color;
}
}

label{
  display:block;
  text-align: left;
  margin-left:20px;
}

button{
  padding: 15px;
  width: 200px;
  border-radius:10px;
  background-color:$main-color;
}